@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

@media (prefers-color-scheme: light) {
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-primary: #0f679a;
  --background-color-1: #e0ebf982;
  --background-color-2: #91caea;
  --time-check-result: 5s;
  --background-cell-table: #fff 
}
}

:root {
  --text-default: #000;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-primary: #0f679a;
  --background-color-1: #e0ebf982;
  --background-color-2: #91caea;
  --time-check-result: 5s;
  --background-cell-table: #fff;
  --background-cell-table-border: #e6e6e6;
  --background-dice-history: #f3f3f3;
  --text-dice-history: black;
  --background-CL-history: #dcdcdc;
  --border-color-table: #979797;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-default: #fff;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-primary: #0f679a;
    --background-color-1: #e0ebf982;
    --background-color-2: #91caea;
    --time-check-result: 5s;
    --background-cell-table: #484848;
    --background-cell-table-border: #535353;
    --background-dice-history: #2a2a2a;
    --text-dice-history: #bdbdbd;
    --background-CL-history: #2a2a2a;
    --border-color-table: #3a3a3a;
  }
}

@font-face {
  font-family: Microsoft JhengHei;
  src: url('/font/microsoft_jhenghei.ttf');
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: Arial, Microsoft JhengHei, Helvetica, sans-serif;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  margin: 0;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container-custom {
  width: 1000px;
  margin: 0 auto;
}

.box-active-default {
  display: block;
}